.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.bg-img {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.page-title-wrapper {
  width: 100%;
  margin: 50px 70px 20px;
}
.main-title {
  color: white;
  font-size: 3.4rem;
}

.filter-label {
  color: white;
}
.pagination-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin:0 100px;
}
.ipp-wrapper {
  width: 100%;
  font-size: 1.4rem;
  padding: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagination-label {
  color: white;
  font-size: 1.6rem;
}
.pagination-button {
  border-radius: 5px;
  padding:4px 10px;
  background-color: white;
  transition: 0.2s;
  border:none;
  font-size: 1.2rem;
  color: var(--green);
}
.pagination-button:hover {
  box-shadow: 0 0 32px white;
  transform: scale(1.2);
  cursor: pointer;
}
.card {
  border: 4px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 30%;
  min-width: 300px;
  max-width: 360px;
  border-radius: 15px;
  padding: 40px 10px;
  min-height: 400px;
  background-color: black;
  color: white;
}
/* 
.Thriller { 
  background-color: var(--red); 
  color: white;
}
.Animation { background-color: var(--cyan);}
.Drame { background-color: var(--orange);}
.Comedy { 
  background-color: var(--green);
  color: white;
} */
.movie-title {
  font-weight: bold;
  font-size: 2.2rem;
  margin: 10px 30px;
  min-height: 140px;
}
.movie-category {
  width: 100%;
  margin: 10px 30px;
}
.like-dislike-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items:center;
  justify-content: space-around;
  min-height: 60px;
  background-color: var(--white);
  border-radius: 15px;
  margin-bottom: 10px;
}
.thumb-wrapper {
  display: flex;
  color: black;

}
.thumb-icon {
  font-size: 2.6rem;
  transition: .2s;
}
.thumb-icon:hover {
  color: var(--red);
  cursor: pointer;
}
.thumb-text {
  font-size: 1.4rem;
  margin-left: 20px;
}
.delete-button {
  width: 100%;
  border:none;
  border-radius: 15px;
  background-color: var(--red);
  color: white;
  padding: 20px 0;
  font-size: 1.2rem;
  transition: 0.2s;
}
.delete-button:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.02);
}