.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.bg-img {
  position: fixed;
  filter: brightness(50%);
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.main-title {
  width: 100%;
  text-align: center;
  color: white;
  margin: 50px 0 20px;
  font-size: 3.4rem;

}
.filter-wrapper {
  width: 100%;
  font-size: 1.4rem;
  padding: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-label {
  color: white;
}
.pagination-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin:0 100px;
}
.pagination-label {
  color: white;
  font-size: 1.6rem;
}
.pagination-button {
  border-radius: 5px;
  padding:4px 10px;
  background-color: white;
  transition: 0.2s;
  border:none;
  font-size: 1.2rem;
  color: var(--green);
}
.pagination-button:hover {
  box-shadow: 0 0 32px white;
  transform: scale(1.2);
  cursor: pointer;
}
.card {
  border: 4px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 30%;
  min-width: 300px;
  max-width: 360px;
  border-radius: 15px;
  padding: 40px 10px;
  min-height: 400px;
}

.Thriller { 
  background-color: var(--red); 
  color: white;
}
.Animation { background-color: var(--cyan);}
.Drame { background-color: var(--orange);}
.Comedy { 
  background-color: var(--green);
  color: white;
}
.movie-title {
  font-weight: bold;
  font-size: 2.2rem;
  margin: 10px 30px;
  min-height: 140px;
}
.like-dislike-numbers {
  display: flex;
  max-width: 50px;
  align-items:center;
  justify-content: center;
  height: 100px;

}

.dislike-button {
  transform: rotate(180deg);
}

.like-dislike-button {
  transition: .4s;
}

.delete-button {
  width: 100%;
  border:none;
  border-radius: 15px;
  background-color: rgb(66, 2, 2);
  color: white;
  padding: 20px 0;
  font-size: 1.2rem;
  transition: 0.2s;
}
.delete-button:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.02);
}